@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans), system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
  --color-adidas-black: #000000;
  --color-adidas-red: #e32b2b;
}

body {
  @apply bg-white text-black font-sans;
}
